
/* Define styles for the container */
.container {
    display: flex;
    flex-wrap: wrap;
}
.bordered{
    border: solid 1px #ccc;
}
/* Styles for the first column */
.column {
    padding: 20px;
}
.column-1 {
    flex: 1; /* The  1st column takes the remaining space */
    align-items: center;
    display: grid;
}
.column-2 {
    flex: 0 0 75%; /* The second column takes 75% of the width */
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack columns on smaller screens */
    }
    .column {
        flex: 100%; /* Each column takes 100% width on smaller screens */
    }
}
